{% extends 'base/base.html' %}

{% block content %}
    <div class="container container-general">
        {% if pto_login_error %}

            <div class="alert alert-danger">
                {{ pto_login_error }}
            </div>
        {% endif %}
    </div>
{% endblock %}
