{% extends 'base/base.html' %}

{% block javascript %}
    {{ block.super }}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{ GOOGLE_CLIENT_ID }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block content %}
    <div class="container container-general">
        <div class="g-signin2" data-onsuccess="onSignIn" data-redirecturi="{{ success_redirect_url }}" data-theme="dark">
        </div>

        <script>
            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log("Name: " + profile.getName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);

                $.post("/login/", {id_token: id_token, email: profile.getEmail()},
                        function (data) {
                            if (data.message) {
                                $('#error_container').text(data.message).removeClass('hidden');
                            }
                            else {
                                window.location.href = '/dashboard/';
                            }

                        }
                );
            }

        </script>

        <div id="error_container" class="alert alert-danger hidden">


        </div>

        {{ login_error }}
    </div>
{% endblock %}