{% extends 'base/base.html' %}

{% block content %}
    <div class="container container-general">
        <h1>Tests</h1>

        <button id="del_session" class="btn btn-danger">
            Delete PTO session
        </button>



        <script>
            $('#del_session').click(function () {
                $.ajax
                ({
                    url: '/test/',
                    data: {del_pto_session: '1'},
                    type: 'post',
                    success: function (result) {
                        $('#answer').text(result);
                    }
                });
            });
        </script>


        <button class="btn btn-info" onclick="signOut();">Sign out</button>
        <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    $('#answer').text('User signed out.');
                });
            }
        </script>


        <hr>

        <div id="answer">

        </div>

        <code>
            {{ request.session.pto_google_auth }}
        </code>
    </div>
{% endblock %}