{% extends 'base/base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/user.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container container-general">
        <div class="row page__header">
            <div class="col-md-12">
                <div class="page__title page__title--center">User edit</div>
            </div>
        </div>

        <form enctype="multipart/form-data" method="post">
            <div class="form-container-middle">
                {% if message %}
                    <div class="{{ message.type }}">
                        {{ message.text }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="" class="form-label">User Name</label>
                    <input type="text" value="{{ user.first_name }} {{ user.last_name }}" name="username" id=""
                           class="form-control form-control--tall" readonly="readonly">
                </div>

                {% if is_hr_manager %}
                    <div class="form-group">
                        <label for="" class="form-label">Role</label>
                        {{ form.pto_role }}
                        {{ form.pto_role.errors }}
                    </div>

                    <div class="form-group">
                        <label for="" class="form-label">Status</label>
                        {{ form.pto_user_status }}
                        {{ form.pto_user_status.errors }}
                    </div>

                    <div class="form-group">
                        <label for="" class="form-label">Manager</label>
                        <select class="form-control form-control--tall js-select js-select-manager" id="id_pto_user_manager"
                                name="pto_user_manager">
                            <option value="">No Manager</option>
                            {% for user_manager in managers %}
                                <option value="{{ user_manager.id }}"
                                        {% if user.pto_user_manager_id == user_manager.id %}selected{% endif %}>
                                    {{ user_manager.first_name }} {{ user_manager.last_name }}
                                </option>
                            {% endfor %}
                        </select>
                        {{ form.pto_user_manager.errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="" class="form-label">Position</label>
                    {{ form.position }}
                    {{ form.position.errors }}
                </div>

                <div class="form-group">
                    <label for="" class="form-label">Hire Date</label>
                    <div class="date date-picker">
                            <span class="btn btn--big btn-data">
                                <i class="fa fa-calendar icon"></i>
                            </span>
                        <div class="overflow is-empty">
                            {{ form.employment_start_datetime }}
                            {{ form.employment_start_datetime.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div id="avatar_container" class="account__photo-container account__photo-container--medium account__photo-container--user-view">
                        {% if user.photo %}
                            <img src="{{ user.photo.url }}"
                                 class="account__photo">
                            {{ user.photo.url }}
                        {% else %}
                            <i class="fa fa-user"></i>
                        {% endif %}
                    </div>
                    <div class="upload-photo-container">
                        <div class="upload-button js-trigger-upload btn btn-back">Upload Photo</div>
                        <div class="upload-text js-text-upload">No file chosen</div>
                        <div class="remove-photo-button js-trigger-remove-photo btn btn-back">Remove Photo</div>
                        <input type="hidden" id="current_user_id" value="{{ user.id }}">

                        {{ form.photo }}
                        {{ form.photo.errors }}
                    </div>
                </div>

            </div>

            <div class="row row--form page-footer">
                <div class="form-container-middle">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <a href="/#table" class="btn btn-back">Cancel</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <button class="btn btn-primary btn-primary--vacation" type="submit"><i
                                        class="fa fa-floppy-o icon"></i> Save Employee
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}