{% extends 'base/base.html' %}
{% load staticfiles%}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/vacation_request.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container container-general">
        <div class="row page__header">
            <div class="col-md-12 col-sm-12">
                <div class="page__title">Vacation Request</div>
                {% if previous_year_days %}
                    <div>You have <strong class="label label-success">{{ previous_year_days }}</strong> available day{% if previous_year_days > 1 %}s{% endif %} from previous year.</div> <br>
                {% endif %}
                {{ user.get_half_year_text|safe }}
                {% if days_left > 0 %}
                    <div>Total left
                        <strong class="label label-success">{{ days_left }}</strong>
                        (from <strong class="label label-success">{{ total_days }}</strong>)
                        day{% if days_left > 1 %}s{% endif %} by the end of year.
                    </div> <br>
                {% else %}
                    <div>You don't have available PTO days by
                        {% if user.is_new_user %}
                            <strong>{{ user.get_current_end_of_period_date|date:'m/d/Y' }}</strong>.
                        {% else %}
                            the end of year.
                        {% endif %}
                    </div> <br>
                {% endif %}
                {% if current_days_left > 0 %}
                    <div>Current
                        <strong class="label label-success">{{ current_days_left }}</strong>
                        day{% if current_days_left > 1 %}s{% endif %} left.
                    </div> <br>
                {% else %}
                    <div>
                        You don't have available PTO days by today.<br>
                        But you can try request vacation for later time.
                    </div> <br>
                {% endif %}
                <div class="page__intro">Select type of leave and period.</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 account">
                <div class="account__photo-container">
                    {% if request.session.pto_google_auth.PTOUser.photo %}
                        <img src="{{ MEDIA_URL }}{{ request.session.pto_google_auth.PTOUser.photo }}" class="account__photo">
                    {% else %}
                        <i class="fa fa-user"></i>
                    {% endif %}
                </div>
                <div class="account__info">
                    <span class="account__name">
                        {{ request.session.pto_google_auth.PTOUser.first_name }}
                        {{ request.session.pto_google_auth.PTOUser.last_name }}
                    </span><br>
                    <span class="account__email">{{ request.session.pto_google_auth.PTOUser.email }}</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="text-center period-container">
                    <span class="period">Period</span>
                </div>
            </div>
        </div>
        <form id="vacation_form" method="post" class="form-vacation" action="{% url 'vacation_request' %}">
            <div class="row row--form">
                <div class="col-md-6 col-sm-6 {% if form.vacation_type.errors|length > 0 %} has-error {% endif %}">
                    <label for="{{ form.vacation_type.id_for_label }}">Leave reason</label>
                    {{ form.vacation_type }}
                    {{ form.vacation_type.errors }}
                </div>
                <div class="col-md-3 col-sm-3 {% if form.start_date.errors|length > 0 %} has-error {% endif %}">
                    <label for="{{ form.start_date.id_for_label }}" class="form-label">From</label>
                    <div class='date date-picker js-from-date js-date-picker-container'>
                        <span class="btn btn--big btn-data">
                            <i class="fa fa-calendar icon"></i>
                        </span>
                        <div class="form-group overflow">
                            {{ form.start_date }}
                        </div>
                        {{ form.start_date.errors }}
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 {% if form.end_date.errors|length > 0 %} has-error {% endif %}">
                    <label for="{{ form.end_date.id_for_label }}" class="form-label">To</label>
                    <div class='date date-picker js-end-date js-date-picker-container'>
                        <span class="btn btn--big btn-data">
                            <i class="fa fa-calendar icon"></i>
                        </span>
                        <div class="form-group overflow">
                            {{ form.end_date }}
                        </div>
                    </div>
                    {{ form.end_date.errors }}
                </div>

            </div>

            <div class="row row--form">
                <div class="col-md-6 col-sm-6 {% if form.comment.errors|length > 0 %} has-error {% endif %}">
                    <label for="{{ form.comment.id_for_label }}">Comment</label>
                    {{ form.comment }}
                    {{ form.comment.errors }}
                </div>
            </div>
            {{ form.pto_user_id }}
            {{ form.start_time }}
            {{ form.end_time }}
            <div class="row row--form">
                <div class="col-md-3 col-sm-3">
                    <a href="{% url 'dashboard' %}" class="btn btn-back">Back</a>
                </div>
                <div class="col-md-offset-6 col-sm-offset-6 col-md-3 col-sm-3">
                    <button class="btn btn-primary btn-primary--vacation" type="submit">
                        <i class="fa fa-envelope icon"></i> Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}