<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="viewport" content="width=1156">
        <meta name="MobileOptimized" content="768">
    {% endblock %}
    <title>PTO Home {% if debug %}| DEBUG mode {% endif %}</title>

    {% load staticfiles %}



    {% block css %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {#<link href="{% static 'css/bootstrap.min.css' %}?{% now "U" %}" type="text/css" rel="stylesheet"/>#}
        {#<link href="{% static 'css/font-awesome.min.css' %}?{% now "U" %}" type="text/css" rel="stylesheet"/>#}
        {#<link href="{% static 'css/icomoon.css' %}?{% now "U" %}" type="text/css" rel="stylesheet"/>#}
        <link href="{% static 'css/style.css' %}?{% now "U" %}" type="text/css" rel="stylesheet"/>
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
        <script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/jquery.address.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/material.min.js' %}"></script>
        {#        <script src="{% static 'js/npm.js' %}"></script>#}
        <script src="{% static 'js/ripples.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery.selectric.min.js' %}"></script>
        <script src="{% static 'js/pto.js' %}"></script>
    {% endblock %}
</head>

<body class="ts">
<div id="main_content_wrapper" class="main_content_wrapper">
    <div class="main-header">
        <div class="container container-general container-general--no-border">
            <div class="row">
                <div class="col-md-7 col-sm-12 brand-block">
                    <a class="logo" href="/">
                        <img src="{% static 'images/TS_logo.png' %}" alt="Trust Sourcing">
                    </a>
                    <div class="main-title">PTO Management</div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="user-nav">
                        <span class="user-nav__user-name">{{ request.session.pto_google_auth.PTOUser.email }}</span>
                        <span><span class="fa fa-sign-out" aria-hidden="true"></span> <a href="{% url 'logout' %}" class="user-nav__link">Sign out</a></span>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-md-offset-4 col-sm-offset-3"><a class="btn btn-primary btn-primary--vacation" href="{% url 'vacation_request' %}">Submit leave request</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container container-general js-content-holder">-->
        {% block content %}

        {% endblock %}
    <!--</div>-->
</div>
</body>
</html>