<div class="section__title section__title--calendar" data_year="{{ calendar.year }}" data_month="{{ calendar.month }}">
    <span class="calendar__nav calendar__nav--prev active  js-calendar-nav js-calendar-nav-prev"><i class="fa fa-angle-left"></i></span>
    <span>{{ calendar.title }}</span>
    <span class="calendar__nav calendar__nav--next active  js-calendar-nav"><i class="fa fa-angle-right"></i></span>
</div>
<table class="calendar calendar__table calendar__table--week">
    <thead>
    <tr>
        {% for week_day in calendar.WEEK_DAYS_HEADER %}
            <th class="calendar__head {% if forloop.counter < 6 %}working-day{% else %}not-working-day{% endif %}">{{ week_day }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week in vacation_per_calendar %}
        <tr class="js-week-row">
            {% for vacation_per_date in week %}
                <td class="calendar__day js-calendar-day calendar__day--week {{ vacation_per_date.type }}{% if vacation_per_date.other_month %} other-month{% endif %}">
                    <div class="calendar__day-inner">
                        <div class="calendar__day-employees-list closed js-employees-list">
                            {% if vacation_per_date.vacations %}
                                {% for key,vacation in vacation_per_date.vacations.items %}
                                    <div data-id="{{ vacation.id }}" class="calendar-vacation position-{{ vacation.order }} vac-status-{{ vacation.status }} js-vacation-hover js-employee">
                                        {% if vacation.show_name %}
                                            <div class="calendar-name">{{ vacation.name }}</div>
                                        {% endif %}
                                        {% if vacation.hours.hours != 8 and vacation.hours.hours != 0 %}
                                            <div class="calendar__time-vacation">{{ vacation.hours}}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {%  endif %}
                            {% if vacation_per_date.description|length > 0 %}
                                <div class="calendar__holiday">
                                    {{ vacation_per_date.description }}
                                </div>
                            {% endif %}
                            <div class="button-more show-more js-show-more" style="display:none;">&nbsp;</div>
                        </div>

                        <span class="date week-date{% if vacation_per_date.is_current_day %} current_date{% endif %}">{{ vacation_per_date.day }}</span>
                    </div>

                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
