<div class="row row--table-view">
    <table id="history_table" class="calendar calendar__table calendar__table--border-bottom">
        <thead>
            <tr>
                <th class="calendar__head calendar__head--user t-left">Period</th>
                <th class="calendar__head calendar__head--user">Days</th>
                <th class="calendar__head calendar__head--user">Type</th>
                <th class="calendar__head calendar__head--user">Status</th>
                <!--<th class="calendar__head calendar__head--user">Actions</th>-->
            </tr>
        </thead>
        <tbody>
            {% if vacations|length == 0 %}
            <tr>
                <td colspan="3" class="calendar-user t-center">No Request History</td>
            </tr>
            {% endif %}
            {% for vacation in vacations %}
                <tr>
                    <td class="calendar-user"><span class="user-period">{{ vacation.start_date|date:'m/d/Y' }} - {{ vacation.end_date|date:'m/d/Y' }}</span></td>
                    <td class="calendar-user t-center">{{ vacation.working_days|safe }}</td>
                    <td class="calendar-user t-center">{{ vacation.vacation_type.name }}</td>
                    <td class="calendar-user t-center">
                        <!--<span class="legend-circle legend-circle--{{ vacation.status.display_name }}"></span>-->
                        {{ vacation.status.display_name }}
                        {% if vacation.enable_delete %}
                            <span data="{{ vacation.id }}" class="btn-action btn-action--close js-link-delete-vacation" data-toggle="modal" data-target="#deleteVacation">
                                <i class="fa fa-close"></i>
                            </span>
                        {% endif %}
                    </td>
                    <!--<td class="calendar-user calendar-actions-col">
                        {% if vacation.status.id == 1 %}
                            <span data="{{ vacation.id }}" class="btn-action btn-action--edit"><i class="fa fa-pencil"></i></span>
                            <span data="{{ vacation.id }}" class="btn-action btn-action--close"><i class="fa fa-close"></i></span>
                        {% endif %}
                    </td>-->
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="calendar__footer calendar__footer--user t-left">Total</td>
                <td class="calendar__footer calendar__footer--user">{{ total_days_hours|safe }}</td>
                <td class="calendar__footer calendar__footer--user"></td>
                <td class="calendar__footer calendar__footer--user"></td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- popup del user -->
<div class="modal fade modal--custom" id="deleteVacation" tabindex="-1" role="dialog" aria-labelledby="deleteVacationLabel">
    <div class="modal-dialog modal-dialog--medium" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

            <div class="modal-body modal-body--form">
                <div class="modal-header">
                    <div class="page-title">Delete vacation request</div>
                    <div class="page-intro">Are you sure?</div>
                </div>
                <div class="form-vacation">
                    <div class="row row--form">
                        <div class="col-md-6">
                            <span type="submit" class="btn btn-default btn-primary--vacation btn-primary--tall" data-dismiss="modal" aria-label="Close">Cancel</span>
                        </div>
                        <div class="col-md-6">
                            <span type="submit" class="btn btn-primary btn-primary--vacation btn-primary--tall js-button-delete-vacation">Yes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>