<div class="row row--table-view">
    <table class="calendar calendar__table calendar__table--border-bottom">
        <thead>
        <tr>
            <th class="calendar__head calendar__head--user calendar-user--employee-col t-left">
                <span class="search__label">Name</span>
                <div class="search__container">
                    <i class="fa fa-search search__icon"></i>
                    <input type="text" placeholder="Employees search" class="search__field" id="employees_search">
                </div>
            </th>
            <th colspan="4" class="calendar__head calendar__head--user calendar__head--days">Vacation Days</th>
            <th colspan="4" class="calendar__head calendar__head--user"></th>
            <th class="calendar__head calendar__head--user calendar-user--manager-col">Manager</th>
            <th class="calendar__head calendar__head--user calendar-actions-col"><span class="calendar-actions-col__text">Actions</span></th>
        </tr>
        <tr>
            <th class="calendar__subhead calendar__subhead--user calendar-user--employee-col t-left"><a href="#" class="link-expand js-link-expand">Expand all</a></th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-col bg-green">Available per Year</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-col bg-green">Current Available</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-col bg-green">Requested</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-col bg-green">Scheduled</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-type-col">Sick</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-type-col">Other</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-type-col">Non-Paid</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--days-type-col">Home</th>
            <th class="calendar__subhead calendar__subhead--user calendar-user--manager-col">
                {% if request.session.pto_google_auth.PTOUser.pto_role_id == 1 %}
                    <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdown_managers" data-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="false">
                                <span class="button-circle button-circle--small dropdown-button">
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            <input type="text" readonly="true" name="" id="" data="any" data-id="any" value="Any"
                                   class="dropdown-managers-field js-managers_input" placeholder="Select Manager">
                        </div>

                        <ul class="dropdown-list dropdown-list--managers dropdown-menu" aria-labelledby="dropdown_managers">
                            <li class="dropdown-item-link js-manager_name" data="any" data-id="any">Any</li>
                            <li class="dropdown-item-link js-manager_name" data="" data-id="none">None</li>
                            {% for manager in managers %}
                            <li class="dropdown-item-link js-manager_name" data="{{ manager.id }}" data-id="{{ manager.id }}">{{ manager }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </th>
            <th class="calendar-subhead calendar-subhead--user"></th>
        </tr>
        </thead>
    </table>
    <div class="table-out js-custom-scroll">
        <table class="calendar calendar__table calendar__table--body calendar__table--border-bottom" id="users_table">
            <tbody>
            {% for user in users %}
                <tr class="manager_{{ user.pto_user_manager.id }}">
                    <td class="calendar-user calendar-user--employee-col js-calendar-user">
                        <div class="user-name-container">
                            <div class="account__photo-container account__photo-container--user-view account__photo-container--user-table">
                                {% if user.photo %}
                                    <img src="{{ user.photo.url }}"
                                         class="account__photo">
                                    {{ user.photo.url }}
                                {% else %}
                                    <i class="fa fa-user"></i>
                                {% endif %}
                            </div>
                            <span class="user-name js-spoiler-toggle">{{ user.first_name }} {{ user.last_name }}</span>
                        </div>

                        <div class="spoiler js-spoiler user-info not-active">
                            <b class="calendar-user-mail"><a href="mailto:{{ user.email }}" class="user-info-link">{{ user.email }}</a></b>
                        </div>
                    </td>
                    <td class="calendar-user t-center calendar-user--days-col bg-green">{{ user.available_vacation_days|safe }}</td>
                    <td class="calendar-user t-center calendar-user--days-col bg-green">{{ user.current_vacation_days|safe }}</td>
                    <td class="calendar-user t-center calendar-user--days-col bg-green">
                        {% if user.vacations and user.vacations.new and user.vacations.new != '[]' %}
                            <a class="js-button-leave" href="#" data-target="#modalLeavePopup" data-toggle="modal"
                               data-vacations="{{ user.vacations.new }}" data-popup-title="Requested vacations">
                                {{ user.requested_days|safe }}
                            </a>
                        {% else %}
                            {{ user.requested_days|safe }}
                        {% endif %}
                    </td>
                    <td class="calendar-user t-center calendar-user--days-col bg-green">
                        {% if user.vacations and user.vacations.scheduled and user.vacations.scheduled != '[]' %}
                            <a class="js-button-leave" href="#" data-target="#modalLeavePopup" data-toggle="modal"
                               data-vacations="{{ user.vacations.scheduled }}" data-popup-title="Scheduled vacations">
                                {{ user.scheduled_days|safe }}
                            </a>
                        {% else %}
                            {{ user.scheduled_days|safe }}
                        {% endif %}
                    </td>

                    <td class="calendar-user t-center calendar-user--days-type-col">
                        {% if user.vacations and user.vacations.sick and user.vacations.sick != '[]' %}
                            <a class="js-button-leave" href="#" data-target="#modalLeavePopup" data-toggle="modal"
                               data-vacations="{{ user.vacations.sick }}" data-popup-title="Sick leave">
                                {{ user.sick|safe }}
                            </a>
                        {% else %}
                            {{ user.sick|safe }}
                        {% endif %}
                    </td>
                    <td class="calendar-user t-center calendar-user--days-type-col">
                        {% if user.vacations and user.vacations.other and user.vacations.other != '[]' %}
                            <a class="js-button-leave" href="#" data-target="#modalLeavePopup" data-toggle="modal"
                               data-vacations="{{ user.vacations.other }}" data-popup-title="Other leave">
                                {{ user.other|safe }}
                            </a>
                        {% else %}
                            {{ user.other|safe }}
                        {% endif %}
                    </td>
                    <td class="calendar-user t-center calendar-user--days-type-col">
                        {% if user.vacations and user.vacations.non_paid and user.vacations.non_paid != '[]' %}
                            <a class="js-button-leave" href="#" data-target="#modalLeavePopup" data-toggle="modal"
                               data-vacations="{{ user.vacations.non_paid }}" data-popup-title="Non-paid leave">
                                {{ user.non_paid|safe }}
                            </a>
                        {% else %}
                            {{ user.non_paid|safe }}
                        {% endif %}
                    </td>
                    <td class="calendar-user t-center calendar-user--days-type-col">
                        {% if user.vacations and user.vacations.home and user.vacations.home != '[]' %}
                            <a class="js-button-leave" href="#" data-target="#modalLeavePopup" data-toggle="modal"
                               data-vacations="{{ user.vacations.home }}" data-popup-title="Work from Home">
                                {{ user.home|safe }}
                            </a>
                        {% else %}
                            {{ user.home|safe }}
                        {% endif %}
                    </td>
                    <td class="calendar-user t-center calendar-user--manager-col">{{ user.pto_user_manager }}</td>
                    <td class="calendar-user calendar-actions-col">
                        {% if request.session.pto_google_auth.PTOUser.pto_role_id == 1 %}  {# HR manager  #}
                            <a href="{% url 'set_user_vacation' user.id %}" class="btn-action btn-action--adddays">
                                <span class="fa fa-plus"></span>
                            </a>
                        {% elif request.session.pto_google_auth.PTOUser.pto_role_id == 3  %}  {# manager  #}
                            <a href="{% url 'manager_set_user_vacation' user.id %}" class="btn-action btn-action--adddays">
                                <span class="fa fa-plus"></span>
                            </a>
                        {% endif %}

                        <a href="{% url 'user' user.id %}" class="btn-action btn-action--edit"><span class="fa fa-pencil"></span></a>
                        <a href="#" class="btn-action btn-action--close js-link-delete-user" data="{{ user.id }}" data-toggle="modal" data-target="#deleteUser">
                            <span class="fa fa-close"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <table class="calendar calendar__table calendar__table--border-bottom">
        <tfoot>
        <tr>
            <td class="calendar__footer calendar__footer--user calendar-user--employee-col t-left">Total</td>
            <td class="calendar__footer calendar__footer--user calendar__footer--days calendar-user--days-col">{{ totals.available_vacation_days|safe }}</td>
            <td class="calendar__footer calendar__footer--user calendar__footer--days calendar-user--days-col">{{ totals.current_vacation_days|safe }}</td>
            <td class="calendar__footer calendar__footer--user calendar__footer--days calendar-user--days-col">{{ totals.requested_days|safe }}</td>
            <td class="calendar__footer calendar__footer--user calendar__footer--days calendar-user--days-col">{{ totals.scheduled_days|safe }}</td>
            {# <td class="calendar__footer calendar__footer--user calendar-user--days-type-col">{{ totals.taken_days|safe }}</td> #}

            <td class="calendar__footer calendar__footer--user calendar-user--days-type-col">{{ totals.sick|safe }}</td>
            <td class="calendar__footer calendar__footer--user calendar-user--days-type-col">{{ totals.other|safe }}</td>
            <td class="calendar__footer calendar__footer--user calendar-user--days-type-col">{{ totals.non_paid|safe }}</td>
            <td class="calendar__footer calendar__footer--user calendar-user--days-type-col">{{ totals.home|safe }}</td>

            <td class="calendar__footer calendar__footer--user calendar-user--manager-col"></td>
            <td class="calendar__footer calendar__footer--user calendar-actions-col"></td>
        </tr>
        </tfoot>
    </table>
</div>

<!-- modal -->
<div class="modal fade modal--custom" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="addEmployeeLabel">
    <div class="modal-dialog modal-dialog--medium" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

            <div class="modal-body modal-body--form">
                <div class="modal-header">
                    <div class="page-title">Invitation request</div>
                    <div class="page-intro">Send invitation request to new team member</div>
                </div>
                <div class="form-vacation">
                    <div class="row row--form">
                        <div class="col-md-8 col-sm-8">
                            <input type="email" id="invitation_email" class="form-control form-control--tall" placeholder="E-mail">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="submit" id="send_invite" class="btn btn-primary btn-primary--vacation btn-primary--tall">
                                <!--<i class="fa fa-paper-plane"></i>--><i class="fa fa-envelope icon"></i> Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal delete user -->
<div class="modal fade modal--custom" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel">
    <div class="modal-dialog modal-dialog--medium" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

            <div class="modal-body modal-body--form">
                <div class="modal-header">
                    <div class="page-title">Delete user</div>
                    <div class="page-intro">Are you sure?</div>
                </div>
                <div class="form-vacation">
                    <div class="row row--form">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <span type="submit" class="btn btn-default btn-primary--vacation btn-primary--tall" data-dismiss="modal" aria-label="Close">Cancel</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <span type="submit" class="btn btn-primary btn-primary--vacation btn-primary--tall js-button-delete-employee">Yes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal leave details -->
<div class="modal fade modal--custom" id="modalLeavePopup" tabindex="-1" role="dialog" aria-labelledby="modalLeavePopupLabel">
    <div class="modal-dialog modal-dialog--medium" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="modal-header">
                    <div class="page-title js-content-leave-title"></div>
                </div>
                <div class="content-leave js-content-leave-details"></div>
            </div>
        </div>
    </div>
</div>