<div id="calendar_navigation" class="section__title section__title--calendar" data_year="{{ calendar.year }}" data_month="{{ calendar.month }}">
    <span class="calendar__nav calendar__nav--prev{% if has_prev %} active{% else %} inactive{% endif %} js-calendar-nav js-calendar-nav-prev"><i class="fa fa-angle-left"></i></span>
    <span>{{ calendar.title }}</span>
    <span class="calendar__nav calendar__nav--next{% if has_next %} active{% else %} inactive{% endif %} js-calendar-nav"><i class="fa fa-angle-right"></i></span>
</div>
<div class="table-responsive table-fixed">
    <div class='table-fixed-container'><div class='table-fixed-out js-table-fixed-out'></div></div>
    <div class="js-custom-scroll-x">
    <table id="team_table" class="calendar calendar__table calendar-team-view js-table-fixed">
    <thead>
    <tr>
        <th class="calendar__head calendar-employees-col">
           Employees
        </th>
        {% for key,week_day in calendar.table_calendar_header.items %}
            <th class="calendar__head {{ week_day.type }}">{{ week_day.name }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th class="calendar__head calendar__head--data calendar-employees-col"></th>
        {% for key,week_day in calendar.table_calendar.items %}
            <th class="calendar__head calendar__head--data {{ week_day.type }}">{{ week_day.day }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% comment %}
        <tr>
            <td class="calendar-employees-col add-employee-col">
            </td>
            {% for key,week_day in calendar.table_calendar.items %}
                <td class="calendar__day calendar__day--month {{ week_day.type }}"></td>
            {% endfor %}
        </tr>
        {% endcomment %}
    {% for user_name, user_vacations in vacations_for_table.items %}

        <tr>
            <td class="calendar-employees-col calendar-name-col">
                {{ user_name }}
            </td>

            {% for key, vacation_for_date in user_vacations.items %}

                {% if vacation_for_date.type == 'working-day' %}

                    <td data="{{ vacation_for_date.vacation.id }}" class="js-calendar_day calendar__day calendar__day--month {{ vacation_for_date.type }} {% if vacation_for_date.vacation %}vac-status-{{ vacation_for_date.vacation.status.text }}{% endif %} {% if vacation_for_date.last %}last-day{% endif %}">
                        {% if vacation_for_date.last %}
                            <div class="popover-out" data="{{ vacation_for_date.vacation.vacation_type }}">
                                {% if key == user_vacations|length %}
                                    <a class="calendar__day-inner popover-button js-popover-button js-last-day-tooltip" data-toggle="popover" tabindex="0" role="button" data-original-title="" title="">
                                {% elif key == 1 %}
                                    <a class="calendar__day-inner popover-button js-popover-button js-first-day-tooltip" data-toggle="popover" tabindex="0" role="button" data-original-title="" title="">
                                {% else %}
                                    <a class="calendar__day-inner popover-button js-popover-button js-day-tooltip" data-toggle="popover" tabindex="0" role="button" data-original-title="" title="">
                                {% endif %}
                                <span class="calendar-last-day">...</span>
                        {% endif %}

                            <span class="date ">{{ vacation_for_date.day }}</span>
                        {% if vacation_for_date.last %}</a></div>{% endif %}

                        {% if vacation_for_date.first %}
                        1
                        {% endif %}
                    </td>
                {% else %}
                    <td class="calendar__day calendar__day--month {{ vacation_for_date.type }}">
                        <span class="date">{{ vacation_for_date.day }}</span>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>

</div>

<!--popover content-->
<div class="js-content-action-last-day popover-out" style="display: none;">
    <div class="vacation-reason" id="vacation_type"></div>
    <div>
        <span class="btn-action btn-action--yes js-action-yes"><i class="fa fa-check"></i></span>
        <span class="btn-action btn-action--close js-action-delete" data-toggle="modal" data-target="#modalReason"><i class="fa fa-close"></i></span>
    </div>
</div>
<!--popover content end-->

<!--<div class="modal fade modal--custom js-content-action-last-day"
     id="modalVacationConfirm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modalVacationConfirmLabel"
     data-vacation=""
>
    <div class="modal-dialog modal-dialog--small" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="modal-body modal-body--vacation-type">
                <div class="vacation-reason js-vacation_type" id="vacation_type"></div>
                <div>
                    <span class="btn-action btn-action--yes js-action-yes"><i class="fa fa-check"></i></span>
                    <span class="btn-action btn-action--close js-action-delete"><i class="fa fa-close"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!-- modal -->
<div class="modal fade modal--custom" id="modalReason" tabindex="-1" role="dialog" aria-labelledby="modalReasonLabel">
    <div class="modal-dialog modal-dialog--medium" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="modal-body modal-body--form">
                <div class="modal-header">
                    <div class="page-title">Enter reason</div>
                </div>
                <div class="form-vacation">
                    <div class="row row--form">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control form-control--tall js-field-reason" placeholder="Reason" autocomplete="off">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <button type="submit" class="btn btn-primary btn-primary--vacation btn-primary--tall js-submit-reason">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>