{% extends 'base/base.html' %}
{% load staticfiles%}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}



    <div class="dashboard-main-header dashboard-fixed-header js-dashboard-main-header">
        <div class="container container-general container-general--freeze-header">
            <div class="row page__header">
                <div class="col-md-9 col-sm-8">
                    <div class="page__title js-welcome-title">Welcome to the PTO management tool!</div>
                    <div class="page__intro">
                        Here you can send leave requests to your manager.<br>
                        <b>If you are a manager, you can coordinate your employees&#39; requests.</b>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <!--<a class="btn btn-primary btn-primary--vacation" href="{% url 'vacation_request' %}">Submit leave request</a>-->
                </div>
            </div>
            <div class="row row-nav-view">
                <div class="col-md-7 col-sm-7">
                    <ul class="nav-view">
                        <li class="nav-view-item active"><a href="#calendar" class="nav-view-link"><i class="fa fa-th icon"></i> Calendar View</a></li>

                        {% if is_manager %}
                        <li class="nav-view-item">
                            <a href="#table" class="nav-view-link"><i class="fa fa-bars icon"></i> Table View</a>
                        </li>
                        <li class="nav-view-item">
                            <a href="#team" class="nav-view-link"><i class="fa fa-users icon"></i> Team View</a>
                        </li>
                        {% endif %}

                        <li class="nav-view-item"><a href="#history" class="nav-view-link"><i class="fa fa-history icon"></i> My Request History</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5">
                    {% if is_hr_manager %}
                    <div class="js-export-block export-block"><a href="{% url 'export_user_vacations' %}" title="export vacations"><span class="js-export-button export-button"><i class="fa fa-file-excel-o icon"></i> Export All</span></a></div>
                    {% endif %}

                    <span href="#" class="button-add-employee js-add-employee" data-toggle="modal" data-target="#addEmployee">
                    <i class="fa fa-plus icon"></i> Add <span class="text-hidden">employee</span>
                </span>

                    <ul class="nav-legend clearfix js-nav-legend">
                        <li class="nav-legend-item"><span class="legend-circle legend-circle--requested"></span> Requested</li>
                        <li class="nav-legend-item"><span class="legend-circle legend-circle--scheduled"></span> Scheduled</li>
                        <li class="nav-legend-item"><span class="legend-circle legend-circle--non-paid"></span> Non paid</li>
                        <li class="nav-legend-item"><span class="legend-circle legend-circle--sick"></span> Sick</li>
                        <li class="nav-legend-item"><span class="legend-circle legend-circle--from-home"></span> Work from Home</li>
                        <li class="nav-legend-item"><span class="legend-circle legend-circle--rejected"></span> Rejected</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-general js-content-holder">
        <div id="dashboard_tab_container">
        </div>
    </div>

{% endblock %}