@import 'assets/common';

/*******************************
            base
*******************************/
html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 1020px;
  background-color: #f2fafc;
}
a:link,
a:visited,
*:focus{
  outline: none;
}

.main_content_wrapper {
  min-height: 100%;
  position: relative;
  //padding-top: 20px;
}
.main_content {
  width: 1287px;
  margin: 0 auto;
}

.container.container-general {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px 15px;
  margin: 0 auto 20px;
  width: 100%;
  @media (min-width: $media_tablet) {
    width: 100%;
  }
  @media (min-width: $media_desktop) {
    width: 1170px;
  }
  &--no-border {
    border: 0;
    background: transparent;
    margin-bottom: 0;
  }
  &--freeze-header {
    padding-bottom: 0;
  }
  &.is-freeze-header {
    margin-top: 150px;
  }
}

.main-header {
  background-color: #174b87;
  color: #fff;
  min-height: 120px;
  margin-bottom: 20px;
  .ts & {
    background-color: #c2272d;
  }

}
.brand-block {
  @media (min-width: $media_medium-desktop) {
    padding-top: 15px;
  }
}
.logo {
  display: inline-block;
  vertical-align: middle;
}

.user-nav {
  text-align: right;
  padding-bottom: 20px;
  &__link {
    color: #fff;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus{
      color: #fff;
      text-decoration: none;
    }
  }
  &__user-name {
    margin-right: 10px;
    @media (min-width: $media_medium-desktop) {
      margin-right: 65px;
    }
  }
}

.main-title {
  background: url("../images/icon-main-title.png") right top no-repeat;
  min-height: 36px;
  line-height: 36px;
  float: right;
  vertical-align: middle;
  font-size: 22px;
  font-weight: bold;
  padding: 0 40px 0 20px;
  @media (min-width: $media_medium-desktop) {
    margin-left: 20px;
    display: inline-block;
    border-left: 1px solid #fff;
    float: none;
  }
  .ts & {
    background: url("../images/icon-main-title_w.png") right top no-repeat;
  }
}

.page {
  &__header {
    margin-top: 0;
  }
  &__title {
    font-size: 26px;
    padding-bottom: 15px;
    &--center {
      text-align: center;
    }
  }
  &__intro {
    color: $grey_base;
    padding-bottom: 10px;
  }
  &__footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}


.section__title {
  font-size: 22px;
  padding-bottom: 15px;
  &--calendar {
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    padding-top: 20px;
  }
}
.row-nav-view {
  border-bottom: 1px solid #eee;
  height: 35px;
}
.row--table-view {
  margin-bottom: -20px;
}
.table-out {
  max-height: 476px;
  //max-height: 150px;
  overflow-y: auto;
}

/*******************************
            forms
*******************************/
.overflow {
  overflow: hidden;
}
.form-control {
  &--tall {
    height: 52px;
  }
}
.form-vacation {
  input[readonly] {
    background-color: #F5F5F5;
  }
  .form-control-out {
    position: relative;
  }
  .form-control {
    &--dropdown {
      font-size: 18px;
      color: $text_base;
      &:focus,
      &:active{
        outline: none;
      }
    }
    &:focus {
      @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
    }
    &--new-category {
      height: 40px;
      padding-right: 55px;
      margin-top: 20px;
      &.error {
        border-color: $red_base;
      }
    }
  }
  .has-error {
    .form-control--new-category {
      border-color: #ccc;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-label {
    display: block;
    margin-top: 10px;
    @media (min-width: $media_tablet) {
      margin-top: 0;
    }
  }
  .row {
    &--form {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .dropdown.open {
    .form-control--dropdown {
      @include border-radius(4px 4px 0 0);
    }
  }
  .dropdown-menu {
    @include border-radius(0 0 4px 4px);
    @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
  }
}

.ripple-container {
  display: none;
}

.dropdown {
  position: relative;
  &-list {
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-color: #ccc;
    border-style: solid;
    margin-top: 0;
    top: 52px;
    padding: 15px 15px 30px;
    &--managers {
      top: 30px;
      background-color: #fff;
      padding: 15px 8px;
      font-weight: normal;
      @include  border-radius(0);
      @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.18));
    }
  }
  &-item-link {
    color: $text_base;
    line-height: 30px;
    cursor: pointer;
    &:hover {
      color: #0095d2;
      text-decoration: none;
    }
  }
  &-button{
    position: absolute;
    right: 25px;
    top: 12px;
  }

  .button-add-category{
    position: absolute;
    right: 10px;
    top: 5px;
  }
  &-managers-field {
    font-weight: normal;
    height: 30px;
    width: 100%;
    padding: 0 6px;
    text-align: center;
    border-width: 1px 1px 0 1px;
    border-color: #fff;
    border-style: solid;
    cursor: pointer;
    .open & {
      border-color: #ccc;
    }
  }
}

.button-circle {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #d8d8d8;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: #838383;
  @include border-radius(50%);
  &--small {
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    right: 5px;
    top: 7px;
  }
}

.account {
  &__photo-container,
  &__info {
    display: inline-block;
    vertical-align: middle;
  }
  &__photo-container {
    @include border-radius(50%);
    overflow: hidden;
    background-color: #d8d8d8;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #f5f5f5;
    .fa-user {
      font-size: 43px;
      line-height: 70px;
    }
    &--medium {
      width: 52px;
      height: 52px;
      .fa-user {
        font-size: 30px;
        line-height: 52px;
      }
    }
    &--user-view {
      margin-right: 20px;
    }
    &--user-table {
      display: block;
      margin-right: 20px;
      width: 52px;
      height: 52px;
      .fa-user {
        font-size: 30px;
        line-height: 52px;
      }
      @media screen and (min-width: 910px) {
        display: inline-block;
      }
    }
  }
  &__photo {
    height: auto;
    max-width: 100%;
    width: 100%;
    display: block;
  }
  &__info {
    padding-left: 15px;
  }
  &__name {
    font-size: 18px;
  }
  &__email {
    color: $grey_base;
  }

}


.period-container {
  border-bottom: 1px solid #EEEEEE;
  height: 14px;
  margin-top: 40px;
}

.period {
  font-weight: bold;
  font-size: 18px;
  background-color: #FFFFFF;
  padding: 0 26px;
}

.btn {
  &-primary {
    background-color: #1eb8f8;
    border-color: #1eb8f8;
    &--vacation {
      text-transform: uppercase;
      width: 100%;
      font-size: 16px;

      .icon {
        margin-right: 10px;
      }
    }
    &--tall {
      height: 52px;
      line-height: 39px;
    }
  }
  &-back {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #8d8d8d;
    color: #fff;
    margin-bottom: 20px;
    @media screen and (min-width: $media_medium-desktop) {
      margin-bottom: 0;
    }
    &:hover {
      color: #fff;
      background-color: #7e7e7e;
    }
  }
  &--big {
    width: 52px;
    height: 52px;
  }
  &-data {
    float: right;
    font-size: 20px;
    color: #838383;
    margin-left: 10px;
    line-height: 38px;
    background-color: #f1f1f1;
  }
}

.form-container-middle {
  max-width: 500px;
  margin: 0 auto;
}

.upload-photo-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.native-upload {
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
.upload {
  &-button {
    display: inline-block;
    background-color: #8d8d8d;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    margin-bottom: 0;
  }
  &-text {
    display: inline-block;
    font-weight: bold;
  }
}

.remove-photo {
  &-button {
    display: inline-block;
    background-color: #D8242B;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    margin-bottom: 0;
    &:hover {
      color: #fff;
      background-color: #b81f24;
    }
  }
  &-text {
    display: inline-block;
    font-weight: bold;
  }
}

//Selectric
.selectric-hide-select {
  display: none;
}
.selectric-items {
  display: none;
  position: absolute;
  z-index: 100;
  //background-color: #f5f5f5;
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 0 1px 1px;
  margin-top: 0;
  padding: 15px 15px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  @include border-radius(0 0 4px 4px);
  .selectric-open & {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      color: #333;
      cursor: pointer;
      line-height: 30px;
    }
  }
  .selectric-select-vacation & {
    background-color: #f5f5f5;
    li {
      width: 50%;
      display: inline-block;
      &:hover {
        color: #0095d2;
      }
    }
  }
}
.selectric-input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border: medium none !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  height: 1px !important;
  left: 0 !important;
  margin: 0 !important;
  outline: medium none !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1px !important;
}

.selectric {
  background-color: #fff;
  border: 1px solid #ccc;
  @include border-radius(4px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  height: 52px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  .selectric-open & {
    @include border-radius(4px 4px 0 0);
  }
  .selectric-select-vacation & {
    background-color: #f5f5f5;
  }
  .label {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
}
.selectric--select-time {
  .selectric {
    .button {
      display: none;
    }
  }
  .selectric-items {
    background-color: #f5f5f5;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 1px;
    margin-top: 0;
    padding: 12px;
    li {
      line-height: 24px;
    }
  }
}

.col--table {
  display: table;
}
.select-out {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.input-btn {
  display: table-cell;
  width: 1%;
  vertical-align: bottom;
}


/*******************************
            error
*******************************/
.errorlist {
  padding: 0;
  li {
    list-style: none;
    color: $red_base;
  }
}

/*******************************
            nav list view
*******************************/
.nav-view {
  padding: 1px 0 0 0;
  margin-bottom: 0;
}

.nav-view-link {
  padding: 5px 3px;
  display: block;
  text-decoration: none;
  color: $grey_base;
  text-transform: uppercase;
  font-size: 12px;
  @media screen and (min-width: $media-desktop) {
    font-size: 14px;
  }
  &:hover,
  .active & {
    text-decoration: none;
    color: $text_base;
  }
}

.nav-view-item {
  list-style: none;
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 3px solid #fff;
  margin: 0 7px;
  @media (min-width: $media_medium-desktop) {
    margin: 0 15px;
  }
  &.active,
  &:hover {
    border-bottom-color: $red_base;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.nav-legend {
  padding: 0;
  margin-bottom: 0;
  text-align: right;
  display: none;
  top: -38px;
  width: 468px;

  @media screen and (min-width: $media_desktop) {
    position: absolute;
  }
}
.nav-legend-item {
  list-style: none;
  display: block;
  margin: 5px 10px;
  float: left;
  width: 136px;
  text-align: left;
}
.legend-circle {
  @include border-radius(50%);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  &--scheduled {
    background-color: $green;
  }
  &--requested,
  &--new {
    background-color: $orange;
  }
  &--rejected {
    background-color: #a4a4a9;
  }
  &--non-paid {
    background-color: #5db3ff;
  }
  &--nav {
    background-color: $orange;
  }
  &--sick {
    background-color: #00796B;
  }
  &--from-home {
    background-color: #0099CC;
  }
}

/*******************************
            calendar
*******************************/
.calendar {
  &__nav {
    @include border-radius(50%);
    position: absolute;
    border: 1px solid $grey_base;
    color: $grey_base;
    width: 26px;
    height: 26px;
    line-height: 23px;
    cursor: pointer;
    font-size: 18px;
    &:hover {
      color: $text_base;
      border-color: $text_base;
    }
    &--next {
      right: 20%;
      @media screen and (min-width: $media_medium-desktop) {
        right: 300px;
      }
      .fa {
        padding-left: 2px;
      }
    }
    &--prev {
      left: 20%;
      @media screen and (min-width: $media_medium-desktop) {
        left: 300px;
      }
      .fa {
        padding-right: 2px;
      }
    }
    &.inactive {
      cursor: default;
      border: 1px solid $grey_light_medium;
      color: $grey_light_medium;
      &:hover {
        border: 1px solid $grey_light_medium;
        color: $grey_light_medium;
      }
    }
  }

  &__table {
    width: 100%;
    border: 1px solid #ededed;
    th, td {
      //border: 1px solid #ededed;
    }
    &--border-bottom {
      th, td {
        border-bottom: 1px solid #ededed;
      }
    }
    &--week {
      table-layout: fixed;
      th, td {
        border: 1px solid #ededed;
      }
    }
    .t-center {
      text-align: center;
    }
    &--body {
      border-top: 0;
      border-bottom: 0;
      tr:last-child td {
        border-bottom: 0;
      }
    }
  }

  &__head {
    background-color: $grey_light;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    color: $grey_base;
    @media (min-width: $media_desktop) {
      text-transform: uppercase;
      font-size: 12px;
    }
    &.not-working-day {
      background-color: $light_red;
      color: $red_base;
    }
    &--data {
      height: 34px;
    }
    &--user {
      padding: 20px 10px;
      &:first-child {
        @media (min-width: $media_desktop) {
          padding-left: 20px;
        }
      }
      &:last-child {
        padding-right: 20px;
      }
    }
    &--days {
      background-color: #abe3bc;
    }
  }
  &__subhead {
    height: 52px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    &--user {
      padding: 20px 5px;
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }
  }
  &__footer {
    background-color: $grey_light;
    height: 52px;
    text-align: center;
    vertical-align: middle;
    color: $grey_base;
    font-weight: bold;
    text-transform: uppercase;
    &--user {
      padding: 20px 10px;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
    &--days {
      background-color: #abe3bc;
    }
  }

  &__head,
  &__subhead,
  &__footer {
    &.t-left {
      text-align: left;
    }
  }

  &__day {
    &.not-working-day {
      background-color: $light_red;
      &.other-month {
        background-color: #FDEAE7;
      }
    }
    &--week {
      text-align: right;
      vertical-align: top;
      height: 160px;
    }
    &--month {
      min-width: 34px;
      height: 34px;
      text-align: center;
      .date {
        display: none;
      }
      .calendar-last-day {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        line-height: 20px;
      }
    }
    &-inner {
      position: relative;
      height: 100%;
      display: block;
    }
    &-employees-list {
      &.closed {
        height: 118px;
        //overflow: hidden;
        position: relative;
      }
      &.opened {
        overflow: visible;
        //position: absolute;
        width: 100%;
        z-index: 600;
        background-color: #fff;
      }
    }
    .button-more {
      width: 40px;
      height: 20px;
      position: absolute;
      bottom: -18px;
      left: 50%;
      margin-left: -20px;
      text-align: center;
      cursor: pointer;
    }
    .show-more {
      &:after {
        content: "";
        display: block;
        margin: -10px auto 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-top: 10px solid $grey_base;
        //border-bottom: 10px solid $grey_base;
      }
    }
    .less-more {
      bottom: 20px;
      &:after {
        content: "";
        display: block;
        margin: -10px auto 0;
        width: 0;
        height: 0;

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-bottom: 10px solid $grey_base;
      }
    }
    &.last-day {
      .popover {
        @include border-radius(0);
        width: 120px;
        text-align: center;
        z-index: 999;
      }
      .vertical {
        .popover {
          bottom: 0 !important;
          top: auto !important;
          &.right > .arrow,
          &.left > .arrow{
            bottom: 5px !important;
            margin-top: 0 !important;
            top: auto !important;
          }

          &.right > .arrow:after,
          &.left > .arrow:after{
            bottom: -10px !important;
            margin-top: 0 !important;
            top: auto !important;
          }
        }
      }
      .popover-out {
        height: 34px;
        position: relative;
      }
      .popover-content {
        padding: 5px 7px;
        .btn-action {
          margin: 0 10px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .vacation-reason {
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 5px;
      }
    }
  }
  .other-month {
    background-color: #F2F2F2;
    .week-date {
      color: #AFAFAF;
    }
  }


  .calendar-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
  }
  &__time-vacation {
    position: absolute;
    right: 4px;
    top: 0;
    font-weight: bold;
  }
  .vac-status-new {
    background-color: $orange;
    &.hover {
      @include eventBgColorHover($orange);
    }
  }
  .vac-status-scheduled {
    background-color: $green;
    &.hover {
      @include eventBgColorHover($green);
    }
  }
  .vac-status-rejected {
    background-color: #a4a4a9;
    &.hover {
      @include eventBgColorHover(#77777c);
    }
    &.last-day .popover-out {
      display: none;
    }
  }
  .vac-status-non-paid {
    background-color: #5db3ff;
    &.hover {
      @include eventBgColorHover(#5db3ff);
    }
  }
  .vac-status-sick {
    background-color: #00796B;
    &.hover {
      @include eventBgColorHover(#00796B);
    }
  }
  .vac-status-from-home {
    background-color: #0099CC;
    &.hover {
      @include eventBgColorHover(#0099CC);
    }
  }


  .user-info {
    color: $grey_base;
  }
  .user-info-link {
    color: $text_base;
    font-size: 12px;
    @media screen and (min-width: $media_medium-desktop) {
      font-size: 14px;
    }
    &:hover {
      @include eventTextColorHoverLight($text_base);
    }
  }
  .user-name {
    cursor: pointer;
    border-bottom: 1px dotted;
    color: $text_base;
    font-size: 14px;
    @media screen and (min-width: $media_desktop) {
      font-size: 18px;
    }
    &:hover {
      border-bottom: 0;
    }
  }
  .spoiler {
    display: none;
  }
  .user-period {
    color: $text_base;
    font-size: 18px;
  }
  &__holiday {
    background-color: #c2272d;
    color: #fff;
    text-align: left;
    font-size: 12px;
    height: auto;
    line-height: 19px;
    padding-left: 8px;
  }
}

.calendar-employees-col {
  min-width: 150px;
  max-width: 150px;
  height: 34px;
  vertical-align: middle;
}
.calendar-add-employee-col {
  background-color: $red_medium_light;
}
.calendar-name-col {
  padding: 0 5px 0 10px;
  background-color: #fff;
}

.calendar-vacation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18px;
  text-align: left;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  padding-left: 8px;
  @for $i from 1 through 100 {
    &.#{$class-position}-#{$i} {
      top: 20px * $i;
    }
  }
  .opened & {
    position: relative;
    margin-bottom: 2px;
    top: auto;
  }
}

.button-add-employee {
  display: none;
  position: relative;
  float: right;
  //height: 100%;
  background-color: $red_medium_light;
  padding: 0 10px;
  margin-left: 0;
  margin-right: 17px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
  @media (min-width: $media_desktop) {
    padding: 0 20px;
  }
  &:hover {
    text-decoration: none;
    background-color: $red_base;
  }
  .icon {
    font-weight: normal;
    margin-right: 5px;
    font-size: 14px;
    vertical-align: middle;
  }
  .text-hidden {
    display: none;
    @media (min-width: $media_desktop) {
      display: inline-block;
    }
  }
}
.calendar-actions-col {
  text-align: center;
  width: 120px;
  @media (min-width: $media_desktop) {
    width: 134px;
  }
  margin: 0 2px;
  &__text {
    display: none;
    @media (min-width: $media_desktop) {
      display: inline-block;
    }
  }
}
th.calendar-user {
  &--days-col {
    font-size: 10px;
  }
  &--days-type-col {
    font-size: 10px;
  }
}
.calendar-user {
  padding: 20px 10px;
  &:first-child {
    padding-left: 20px;
  }
  &:last-child {
    padding-right: 20px;
  }
  &--ava-col {
    width: 52px;
  }
  &--days-col {
    font-size: 12px;
    width: 78px;
    min-width: 78px;
    @media (min-width: $media_desktop) {
      width: 78px;
      min-width: 78px;
      text-transform: uppercase;
    }
    &.bg-green {
      background-color: #ddffe7;
    }
  }
  &--days-type-col {
    font-size: 12px;
    width: 78px;
    min-width: 78px;
    @media (min-width: $media_desktop) {
      width: 78px;
      min-width: 78px;
      text-transform: uppercase;
    }
  }
  &--employee-col {
    min-width: 270px;
    @media screen and (min-width: $media_desktop) {
      min-width: 300px;
    }
  }

  &--manager-col {
    width: 125px;
    @media screen and (min-width: $media_desktop) {
      width: 148px;
    }
  }
}
.calendar-user-mail {
  margin-top: 7px;
  display: inline-block;
}
.week-date {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  position: absolute;
  right: 9px;
  bottom: 7px;
  @include border-radius(50%);
  &.current_date {
    background-color: #f1f1f1;
  }
  .not-working-day & {
    color: $red_base;
    &.current_date {
      background-color: #fff;
    }
  }
  .not-working-day.other-month & {
    color: #F6C2BB;
  }
}

.table-fixed-container {
  position: absolute;
  width: 150px;
  z-index: 1000;
}
.table-fixed-out {
  position: relative;
}
.table-fixed>.fixed-column {
  position: fixed;
  //display: block;
  width: auto;
  z-index: 100;
}

.btn-action {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  font-size: 13px;
  cursor: pointer;
  @include border-radius(50%);
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
  &--yes {
    background-color: $green_base;
    &:hover {
      @include eventBgColorHover($green_base);
    }
  }
  &--close {
    background-color: $red_medium_light;
    &:hover {
      @include eventBgColorHover($red_medium_light);
    }
  }
  &--edit {
    background-color: $orange;
    &:hover {
      @include eventBgColorHover($orange);
    }
  }
  &--adddays {
    background-color: $green_base;
    line-height: 26px;
    &:hover {
      @include eventBgColorHover($green_base);
    }
  }

  .calendar-actions-col & {
    float: left;
    margin: 0 1px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.popover-button {
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.link-expand {
  color: $red_medium_light;
  text-decoration: none;
  border-bottom: 1px dashed $red_medium_light;
  margin-left: 74px;
  &:hover {
    @include eventTextColorHover($red_medium_light);
    text-decoration: none;
  }
  &:active,
  &:focus {
    color: $red_medium_light;
    text-decoration: none;
  }
}

.search {
  &__container {
    background-color: #fff;
    border: #eaeaea;
    height: 30px;
    width: 192px;
    display: inline-block;
    vertical-align: middle;
    @media (min-width: $media_desktop) {
      margin-left: 8px;
      width: 200px;
    }
  }
  &__icon {
    margin: 0 7px 0 12px;
    font-size: 12px;
    color: $grey_light_medium;
  }
  &__field {
    width: 153px;
    height: 30px;
    border: 0;
    font-weight: normal;
    @media (min-width: $media_desktop) {
      margin-left: 8px;
      width: 157px;
    }
  }
  &__label {
    display: none;
    @media (min-width: $media_desktop) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/*******************************
            modal
*******************************/
.modal {
  &--custom {
    .modal-header {
      text-align: center;
    }
    .modal-content {
      @include border-radius(0);
    }
    .close {
      position: absolute;
      right: 10px;
      top: 8px;
      cursor: pointer;
      z-index: 10;
    }
  }
  .modal-dialog {
    &--small {
      width: 170px;
    }
    &--medium {
      width: 490px;
    }
  }
  .modal-body {
    &--form {
      padding-bottom: 40px;
    }
    &--vacation-type {
      text-align: center;
      padding: 25px;
    }
    .vacation-reason {
      padding-bottom: 10px;
    }
    .btn-action {
      margin: 0 10px;
    }
  }
}

.export-block {
  float: right;
  display: none;
}
.export-button {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  padding: 0 20px;
  position: relative;
  text-transform: uppercase;
  &:hover {
    @include eventBgColorHover(#5cb85c);
  }
  .icon {
    margin-right: 5px;
  }
}
.test {
  color: #000;
}

.content-leave {
  padding-top: 10px;
}

.calendar-team-view {
  th, td {
    border: 1px solid #ededed;
  }
}

.dashboard-fixed-header {
  z-index: 1001;
  transition: all 0.5s ease;
  width: 100%;
  &.is-fixed {
    top: 0;
    position: fixed;
  }
}