/*******************************
            colors
*******************************/
$text_base: #333;
$red_base: #a94442;
$red_medium_light: #e56349;
$grey_base: #777;
$grey_light: #f1f1f1;
$grey_light_medium: #cfcfcf;
$green_base: #4db880;

$green: #45cbaa;
$orange: #ffb700;
$light_red: #f6d5d0;

/*******************************
            variables
*******************************/
$class-position: position !default;

$media_tablet: 768px;
$media_medium-desktop: 992px;
$media_desktop: 1200px;

/*******************************
            mixins
*******************************/
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
@mixin box-sizing($box-model: border-box) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}
@mixin linearGradient($top, $bottom){
  background: $top;
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}
@mixin eventBgColorHover($baseColor) {
  background-color: darken($baseColor, 10%);
}

@mixin eventTextColorHover($baseColor) {
  color: darken($baseColor, 10%);
}
@mixin eventTextColorHoverLight($baseColor) {
  color: lighten($baseColor, 10%);
}

/*******************************
            awesome
*******************************/
.fa-rotate-45 {
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}