<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
<div class="email-header" style="background-color: #C3272F; color: #fff;text-align: center;padding: 25px 0;">
    <div class="email-header__logo">
        <img src="http://pto.test.trustsourcing.com/static/images/TS_logo_w.png" alt="Trust Sourcing" width="50">
    </div>
    <div class="email-header__title" style="font-size: 35px;">Vacation Request Submitted by manager</div>
</div>
<div class="email-content" style="width: 600px; margin: 30px auto;">
    <div class="email-content__title" style="font-size: 25px;font-weight: bold;text-align: center;">
        Manager {{ manager.first_name }} {% if manager.middle_name %} {{ manager.middle_name }} {% endif %} {{ manager.last_name }}
        submit request for user {{ vacation.pto_user.first_name }} {% if vacation.pto_user.middle_name %} {{ vacation.pto_user.middle_name }} {% endif %} {{ vacation.pto_user.last_name }}.
    </div>

    <p>
        Request for {{ vacation.vacation_type }}
        from <em>{{ vacation.start_date|date:'Y-m-d' }}</em> to <em>{{ vacation.end_date|date:'Y-m-d' }}</em>.
    </p>
</div>

</body>
</html>