<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
<div class="email-header" style="background-color: #C3272F; color: #fff;text-align: center;padding: 25px 0;">
    <div class="email-header__logo">
        <img src="http://pto.test.trustsourcing.com/static/images/TS_logo_w.png" alt="Trust Sourcing" width="50">
    </div>
    <div class="email-header__title" style="font-size: 35px;">Vacation Request</div>
</div>
<div class="email-content" style="width: 600px; margin: 30px auto;">
    <div class="email-content__title" style="font-size: 25px;font-weight: bold;text-align: center;">Hi {{ email }}!</div>

    <p>You are invited to PTO system.</p>

    <p>
        {% if DEBUG %}
        Please, go to link <a href="http://pto.test.trustsourcing.com/vacation_request/">PTO TEST</a> to submit your Time Off request.
        {% else %}
        Please, go to link <a href="http://pto.trustsourcing.com/vacation_request/">PTO</a> to submit your Time Off request.
        {% endif %}
    </p>



    <div class="email-content__footer" style="padding-top: 30px;color: #B5B5B5;text-align: center;">
        Thanks!
    </div>
</div>

</body>
</html>