<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
<div class="email-header" style="background-color: #C3272F; color: #fff;text-align: center;padding: 25px 0;">
    <div class="email-header__logo">
        <img src="http://pto.test.trustsourcing.com/static/images/TS_logo_w.png" alt="Trust Sourcing" width="50">
    </div>
    <div class="email-header__title" style="font-size: 35px;">Vacation Request</div>
</div>
<div class="email-content" style="width: 600px; margin: 30px auto;">
    <div class="email-content__title" style="font-size: 25px;font-weight: bold;text-align: center;">from {{ user.first_name }} {{ user.last_name }}</div>

    <div class="email-content__email-holder" style="text-align: center;padding-top: 10px;">
        <a href="mailto:{{ user.email }}" class="email-content__email" style="color: #C3272F;text-decoration: none;font-size: 18px;">{{ user.email }}</a>
    </div>

    <table class="vacation-info" style="border: 0;border-collapse: collapse;table-layout: fixed; Margin-top: 35px; Margin-left: auto;Margin-right: auto;">
        <tr class="vacation-info__row" style="padding-bottom: 6px;">
            <td class="vacation-info__label" style="font-weight: bold;text-align: left;padding-right: 10px;">Vacation Type: </td>
            <td class="vacation-info__text" style="text-align: left;">{{ vacation_type_name }}</td>
        </tr>

        <tr class="vacation-info__row" style="padding-bottom: 6px;">
            <td class="vacation-info__label" style="font-weight: bold;text-align: left;padding-right: 10px;">Start Date: </td>
            <td class="vacation-info__text" style="text-align: left;">{{ start_date|date:'Y-m-d' }}</td>
        </tr>

        <tr class="vacation-info__row" style="padding-bottom: 6px;">
            <td class="vacation-info__label" style="font-weight: bold;text-align: left;padding-right: 10px;">End Date: </td>
            <td class="vacation-info__text" style="text-align: left;">{{ end_date|date:'Y-m-d' }}</td>
        </tr>

        <tr class="vacation-info__row" style="padding-bottom: 6px;">
            <td class="vacation-info__label" style="font-weight: bold;text-align: left;padding-right: 10px;">Total Days: </td>
            <td class="vacation-info__text" style="text-align: left;">{{ total_days }}</td>
        </tr>

        {% if comment %}
            <tr class="vacation-info__row" style="padding-bottom: 6px;">
                <td class="vacation-info__label" style="font-weight: bold;text-align: left;padding-right: 10px;">Comment: </td>
                <td class="vacation-info__text" style="text-align: left;">{{ comment }}</td>
            </tr>
        {% endif %}
    </table>


    <div class="email-content__footer" style="padding-top: 30px;color: #B5B5B5;text-align: center;">
        <a href="http://pto.trustsourcing.com/#team" class="email-content__link" style="color: #2F80ED;">Click here</a> to view scheduled vacations and make your decision.<br>
        Thanks!
    </div>
</div>

</body>
</html>