{% extends 'base/base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/vacation_request.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container container-general">
        <div id="set_vacation_container">
            <div class="row page__header">
                <div class="col-md-12 col-sm-12">
                    <div class="page__title">
                        Add leave period for {{ for_user.first_name }} {{ for_user.last_name }}
                    </div>
                    <div class="page__intro">Select type of leave and period.<br>You can add a new kind of leave.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 account">
                    <div class="account__photo-container">
                        {% if for_user.photo %}
                            <img src="{{ for_user.photo.url }}" class="account__photo">
                        {% else %}
                            <i class="fa fa-user"></i>
                        {% endif %}
                    </div>
                    <div class="account__info">
                        <span class="account__name"> {{ for_user.first_name }} {{ for_user.last_name }} </span><br>

                        <span class="account__email">{{ for_user.email }}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="text-center period-container">
                        <span class="period">Period</span>
                    </div>
                </div>
            </div>

            <form id="set_user_vacation_form" class="form-vacation" method="post"
                  action="{% url action_name for_user.id %}">
                <div class="row row--form">
                    <div class="col-md-6 col-sm-6 {% if form.vacation_type.errors|length > 0 %} has-error {% endif %}">
                        <label for="{{ form.vacation_type.id_for_label }}">Leave reason</label>
                        {{ form.vacation_type }}
                        {{ form.vacation_type.errors }}
                    </div>
                    <div class="col-md-3 col-sm-3 {% if form.start_date.errors|length > 0 %} has-error {% endif %}">
                        <label for="{{ form.start_date.id_for_label }}" class="form-label">From</label>
                        <div class='date date-picker-unlimited js-from-date'>
                            <span class="btn btn--big btn-data">
                                <i class="fa fa-calendar icon"></i>
                            </span>
                            <div class="form-group overflow">
                                {{ form.start_date }}
                            </div>
                            {{ form.start_date.errors }}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 {% if form.end_date.errors|length > 0 %} has-error {% endif %}">
                        <label for="{{ form.end_date.id_for_label }}" class="form-label">To</label>
                        <div class='date date-picker-unlimited js-end-date'>
                            <span class="btn btn--big btn-data">
                                <i class="fa fa-calendar icon"></i>
                            </span>
                            <div class="form-group overflow">
                                {{ form.end_date }}
                            </div>
                        </div>
                        {{ form.end_date.errors }}
                    </div>

                </div>


                <div class="row row--form">
                    <div class="col-md-6 col-sm-6 {% if form.comment.errors|length > 0 %} has-error {% endif %}">
                        <label for="{{ form.comment.id_for_label }}">Comment</label>
                        {{ form.comment }}
                        {{ form.comment.errors }}
                    </div>

                    {% comment %}
                        <div class="col-md-3 col-sm-3 js-col-time {% if form.start_date.errors|length > 0 %} has-error {% endif %}">
                            <label for="{{ form.start_time.id_for_label }}" class="form-label">From Time</label>
                            <div class="col--table">
                                <div class="select-out">{{ form.start_time }}</div>
                                <div class="input-btn"><span class="btn btn--big btn-data js-btn-time"><i
                                        class="fa fa-clock-o icon"></i></span></div>
                            </div>
                            {{ form.start_time.errors }}
                        </div>
                        <div class="col-md-3 col-sm-3 col--table js-col-time {% if form.end_date.errors|length > 0 %} has-error {% endif %}">
                            <label for="{{ form.end_time.id_for_label }}" class="form-label">To Time</label>
                            <div class="col--table">
                                <div class="select-out">{{ form.end_time }}</div>
                                <div class="input-btn"><span class="btn btn--big btn-data js-btn-time"><i
                                        class="fa fa-clock-o icon"></i></span></div>
                            </div>
                            {{ form.end_time.errors }}
                        </div>
                    {% endcomment %}

                </div>


                {{ form.pto_user_id }}
                <div class="row row--form">
                    <div class="col-md-3 col-sm-3">
                        <a href="{% url 'dashboard' %}" class="btn btn-back">Back</a>
                    </div>
                    <div class="col-md-offset-6 col-sm-offset-6 col-md-3 col-sm-3">
                        <button id="btn_set_vacation" class="btn btn-primary btn-primary--vacation" type="button">
                            <i class="fa fa-envelope icon"></i> Submit
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}