{% extends 'base/base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/thank_you_page.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container container-general">
        <div class="row page__header">
            <div class="col-md-12">

                <div class="page__title">

                    You have successfully added vacation period for
                    <em>{{ for_user.first_name }} {{ for_user.last_name }}</em>

                </div>

                <div class="page__intro">
                    Vacation period is: <b>{{ start_date|date:'Y-m-d' }} - {{ end_date|date:'Y-m-d' }}</b>.<br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section__title">You will be redirected to the PTO management homepage automatically in <span
                        id="js-timer_down">5 seconds</span>...
                </div>
            </div>
        </div>
    </div>
{% endblock %}